<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Price Pred</title>
</head>
<body>
    <form action="/home_price" method="POST">
        <label for="size">BHK:</label>
        <input type="text" id="size" name="size"><br><br>
        <label for="total_sqft">Total Sqft:</label>
        <input type="text" id="total_sqft" name="total_sqft"><br><br>
        <label for="bath">Bath Rooms:</label>
        <input type="text" id="bath" name="bath"><br><br>
        <button type="submit" formaction="/home_price">Submit</button>
      </form>
</body>
</html>